<nav class="navbar navbar-expand-lg m-0 p-0">
    <div class="container-fluid shadow nav-container">
        <a routerLink="/">
            <img src="assets/fleet_logo.svg" width="150" alt="My Happy SVG" />
        </a>

        <button class="navbar-toggler" style="color: transparent;" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">

                <li class="nav-item">
                    <div class="navItem">
                        <div class="logo">
                            <div class="circle">
                                <i class="fa fa-phone" style="font-size:24px"></i>
                            </div>
                        </div>
                        <div class="tab">
                            <div class="upper">
                                <p>Contact Us</p>
                            </div>
                            <div class="lower">
                                <p>+080 47093152</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="navItem">
                        <div class="logo">
                            <div class="circle">
                                <i class="fa fa-envelope" style="font-size:24px"></i>
                            </div>
                        </div>
                        <div class="tab">
                            <div class="upper">
                                <p>Email Us</p>
                            </div>
                            <div class="lower">
                                <p>support&#64;fleet247.in</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="navItem">
                        <div class="logo">
                            <div class="circle">
                                <i class="fa fa-mobile" style="font-size:24px"></i>
                            </div>
                        </div>
                        <div class="tab">
                            <div class="middle" >
                                <p>Download App</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <div class="navItem dropdown" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown">
                        <div class="logo">
                            <div class="circle">
                                <i class="fa fa-user" style="font-size:24px"></i>
                            </div>
                        </div>
                        <div class="tab">
                            <div class="middle" >
                                <p>Profile </p>
                            </div>
                            <!-- <div class="lower ps-4">
                                <i class="fa fa-user" style="font-size:14px"></i>
                            </div> -->
                        </div>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">View Profile</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>